<div class="bg-white mt-8">
  <div class="flex max-sm:flex-col gap-12 max-lg:gap-4">
    <div class="sm:h-screen sm:sticky sm:top-0 lg:min-w-[370px] sm:min-w-[300px]">
      <h2 class="text-2xl font-bold text-gray-800">Order Summary</h2>
      <div class="px-4 py-8 sm:overflow-auto">
        <div class="space-y-4">
          <p>Order Summary</p>
        </div>
      </div>

      <div class="bg-gray-800 w-full p-4">
        <h4 class="flex flex-wrap gap-4 text-base text-white">Sub total <span
            class="ml-auto">0</span>
        </h4>
        <h4 class="flex flex-wrap gap-4 text-base text-white">Delivery Fee <span
            class="ml-auto">0</span>
        </h4>
        <h4 class="flex flex-wrap gap-4 text-base text-white">Tax <span class="ml-auto">0</span>
        </h4>
        <h2 class="flex flex-wrap gap-4 text-lg font-bold uppercase text-white">Total <span
            class="ml-auto">0</span>
        </h2>
      </div>
    </div>

    <div class="max-w-4xl w-full h-max rounded-md px-4 sticky top-0">
      <h2 class="text-2xl font-bold text-gray-800">Complete your order</h2>
      <hr class="h-px mt-4 bg-gray-200 border-0 dark:bg-gray-700">
      <div>
        Form Checkout
      </div>
    </div>
  </div>
</div>
